@import "../../libs/css3";
@import "../../reset";
@import "../../global";

body {
	background: $themeColor;
}

input,
button {
	border: none;
	width: 120px;
	margin: 8px auto;
	display: block;
	line-height: 26px;
	font-size: 14px;
	height: 26px;
	border-radius: 3px;
	background: #fff;
	outline: none;
	border: none;
	padding: 0 8px;
}
button {
	padding: 0 4px;
}
