<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<title>云报销</title>
	<script>
		console.log('page start', +new Date)
	</script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit">

	<meta name="description" content="云报销,报销,让报销简单一点儿">
	<meta name="keywords" content="云报销,报销,报销简单点">
	
	<!-- base css -->
	<link rel="stylesheet" href="/static/css/main.css">
	
	<!-- add socket mechanism -->
	<script src="/static/js/libs/socket.io-1.4.5.js"></script>
	<script src="/static/js/boost/socket-client.js"></script>
	<script>
		// global user info
		window._env_ = "<%= env %>";
		window._userProfile_ = <%- profile_string %>['data'];
		window._accessToken_ = "<%= access_token %>";
		window._ajaxApiDomain_ = "<%= ajax_api_domain %>";

	</script>
</head>
<body ng-controller="MainController">
	<header id="header">
		<div class="inner-wrap">
			<div class="header-logo">
				<img class="logo" src="/static/img/logo.png" alt="">
				<h2 style="text-align: center;color: #fff">云报销</h2>
			</div>
			<div class="header-content">
				<div class="header-route">云报销／公司设置</div>
				<ul>
					<li>
						<div class="input">
							<input type="text" placeholder="搜索">
						</div>
					</li>
					<li><a href="" data-id="{{userProfile.id}}">{{userProfile.nickname}}</a></li>
					<li><a target="_self" href="/login">注销</a></li>
					<!-- <li><a href="alex">关于</a></li> -->
				</ul>
			</div>
	 	</div>
	</header>
	<div id="sideBar">
		<div class="inner-wrap scroller">
			<ul>
				<li>
					<a href="/#/report">新建报销单</a>
				</li>
				<li>
					<a href="/#/templates">报销单模版</a>
				</li>
				<li>
					<a href="/#/company/12?r=1212">某某公司</a>
				</li>
				<li>
					<a href="/#/dsfd/dsfd">whoami</a>
				</li>
				<li>
					<a href="/#/test/test">test</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="content">
			<div ng-view ng-animate="'scale'"></div>	
		</div>
	</div>
	<script src="/static/js/libs/requirejs/require.js" data-main="/static/js/main.js"></script>
	<script>
		function loadScript(src, callback) {
		    var s,
		        r,
		        t;
		    r = false;
		    s = document.createElement('script');
		    s.type = 'text/javascript';
		    s.src = src;
		    s.onload = s.onreadystatechange = function() {
		        //console.log( this.readyState ); //uncomment this line to see which ready states are called.
		        if (!r && (!this.readyState || this.readyState == 'complete')) {
		            r = true;
		            callback();
		        }
		    };
		    t = document.getElementsByTagName('script')[0];
		    t.parentNode.insertBefore(s, t);
		};
		// loadScript('/static/js/libs/socket.io-1.4.5.js');
		// loadScript('/static/js/boost/socket-client.js');
		function loadChain(arr) {
			if(arr.length <=0) {
				return;
			}
			loadScript(arr[0], function () {
				loadChain(arr.slice(1))
			})
		};

		// loadChain([
		// 	'/static/js/libs/socket.io-1.4.5.js',
		// 	// '/static/js/boost/socket-client.js'
		// ]);
	</script>
	<link rel="stylesheet" href="/static/css/libs/scrollbar.css" />	
</body>
</html>