<!DOCTYPE html>
<html lang="en">
<head>
	<title>云报销</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit">

	<meta name="description" content="云报销,报销,让报销简单一点儿">
	<meta name="keywords" content="云报销,报销,报销简单点">
	
	<!-- base css -->
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="/static/js/main.js"></script>
	<script src="/static/js/index.js"></script>
</head>
<body>
	<h style="text-align: center;color: #FE3B46">Hello， 云报销</h2>
	<header id="header"></header>
	<div id="main"></div>
</body>
</html>