$headerHeight = 60px
$sidebarWidth = 260px
$sidebarWidthWhenCollapse = 70px

$zIndexSmall = 9
$zIndexMiddle = 99
$zIndexLarge = 999

$boxPadding = 6px

$themeColor = #ff575b

$imgPath = '/static/img'
