@import "./libs/css3";
@import "./reset";
@import "./global";

html, body {
	height: 100%;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB';
	font-size: 14px;
	color: #393939;
	background: #fff;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

#header {
	min-height: $headerHeight;
	height: $headerHeight;
	background: #fff;
	width: 100%;
	color: $themeColor;
	z-index: 100;
	position: fixed;
	background: #fff;
	vertical-align: bottom;
	&.collapse {
		.inner-wrap {
			left: $sidebarWidthWhenCollapse;
		}
		.header-content {
			margin-right: $sidebarWidthWhenCollapse;
		}
		.header-logo {

			width: $sidebarWidthWhenCollapse;
			margin-left: -($sidebarWidthWhenCollapse);
		}
		
	}
	.inner-wrap {
		float: left;
		width: 100%;
		position: relative;
		left: $sidebarWidth;
	}
	.header-logo {
        color: #fff;
        background: $themeColor;
        white-space: nowrap;
        height: $headerHeight;
        overflow: hidden;
        float: left;
        width: $sidebarWidth;
        position: relative;
        margin-left: -($sidebarWidth);
		.logo {
			width: 48px;
			margin: 6px 12px;
			float: left;
		}
		h2 {
			font-size: 16px;
			float: left;
			height: 60px;
			line-height: 60px;
			margin-left: 12px;
			color: #fff;
		}
	}
	.header-content {
		
		margin-right: $sidebarWidth;
		position: relative;
		border-bottom: 1px solid #eee;
		height: $headerHeight;
		ul {
			position: absolute;
			right: 0;
			top: 0;
			white-space: nowrap;
			line-height: 60px;
			li {
				display: inline-block;
				padding-right: 12px;
				a {
					color: #404040;
				}
			}
		}
	}
	.header-route {
		float: left;
		line-height: 60px;
		padding: 0 12px;
	}
	.input input {
		height: 22px;
		line-height: 22px;
		border: 1px solid #eee;
		padding: 0 4px;
	}
}
 
#main {
	margin-left: $sidebarWidth;
	padding-top: $headerHeight;
	z-index: 1;
	position: relative;

	transition(0.3s all linear);
	&.collapse {
		margin-left: $sidebarWidthWhenCollapse;
	}
}

#content {
	display: block;
	padding: 20px;
	background: #fff;
	height: 2000px;
}

#sideBar {
	background: #373d47;
	width: $sidebarWidth;
	position: fixed;
	height: 100%;
	bottom: 0;
	top: 60px;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	transition-duration: .3s;
	text-align: left;
	z-index: 0;
	.inner-wrap {
		padding: 12px;
		padding-left: 20px;
	}
	ul li {
		padding: 8px;
		a {
			padding-left: 42px;
			background: url('/static/img/circle.png') no-repeat;
			line-height: 20px;
			color: #fff;
			display: block;
		}
	}
}

.nicescroll-cursors {
	background: #8F8F8F !important;
	border: none !important;
	transform(translate3d(0,0,0));
	// border-radius: 0 !important;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    width: 6px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #eaeaea; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

